@font-face {
  font-family: "Sour Gummy";
  src: url("../assets/fonts/SourGummy-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Sour Gummy";
  src: url("../assets/fonts/SourGummy-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}
