@use "fonts";
@use "default";

@mixin bodyStyle {
  background-image: url("../assets/images/landing_page/bg.jpg");
  background-color: rgb(244, 183, 124);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: "Sour Gummy", sans-serif;
}

.body_game_site {
  @include bodyStyle;

  @media screen and (max-width: 1000px) and (orientation: portrait) {
    background-image: url("../assets/images/landing_page/rotate_device.jpg");
    background-position: 50% 30%;
  }

  @media screen and (max-width: 800px) and (orientation: portrait) {
    background-position: center;
  }

  @media screen and (max-width: 400px) and (orientation: portrait) {
    background-size: 100% 100%;
  }
}

.body_legal-links {
  @include bodyStyle;
}

@mixin buttonStyle {
  background-color: rgb(245, 199, 149);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
  border: 4px solid rgb(194, 104, 70);
  border-radius: 10px;
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

@mixin displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;

  .imprint_site,
  .privacy_Policy_site {
    background-color: rgb(245, 199, 149);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
    border: 4px solid rgb(194, 104, 70);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding: 20px 20px 30px 20px; // top right bottom left
    width: 80%;
    overflow-wrap: break-word;
    hyphens: auto;
    margin-bottom: 50px;
    position: relative;

    @media (max-width: 1000px) {
      margin-block: 25px;
    }

    .return {
      display: none;
      position: absolute;
      top: 10px;
      right: 20px;

      @media (max-width: 1000px) {
        display: block;
      }

      &:hover {
        cursor: pointer;
      }

      & svg {
        height: 35px;
        width: 35px;
        fill: rgb(194, 104, 70);
        filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1));
      }
    }

    .header,
    .address,
    .representedBy,
    .contact {
      margin-block: 10px;
    }

    & a {
      color: rgb(194, 104, 70);
      filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
    }

    & h1,
    h2,
    h3,
    p,
    ul {
      margin-top: 15px;
    }

    & ul {
      margin-left: 20px;
    }

    & li {
      margin-block: 10px;
    }
  }

  .privacy_policy {
    position: absolute;
    top: -30px;
    left: 45px;
    height: 180px;
    width: 180px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .imprint {
    position: absolute;
    top: -18px;
    right: 45px;
    height: 180px;
    width: 180px;
    transform: rotate(8deg);

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .el_pollo_loco_logo {
    height: 100px;
    width: 100px;
    margin-block: 25px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .canvas_container {
    position: relative;
    @include displayFlexCenter;

    @media screen and (max-width: 1000px) and (orientation: portrait) {
      display: none;
    }

    .start_screen {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/landing_page/bg_canvas.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 6;

      &:hover {
        cursor: pointer;
      }
    }

    .game_over_screen {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/landing_page/bg_canvas_game_over.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 6;
    }

    .win_screen {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/landing_page/bg_canvas_win.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 6;
    }

    .canvas {
      display: block;
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5);
      max-height: 100dvh;
      max-width: 100%;
    }

    .game_control {
      display: none;
      position: absolute;
      bottom: 5px;
      justify-content: space-between;
      width: 100%;
      padding-inline: 10px;
      z-index: 5;

      @media (max-width: 1000px) {
        display: flex;
      }

      .controls_left,
      .controls_right {
        display: flex;
        gap: 15px;

        .move_left,
        .move_right,
        .jump,
        .throw {
          border: 4px solid rgb(194, 104, 70);
          border-radius: 50%;
          background-color: rgb(245, 199, 149);
          height: 50px;
          width: 50px;

          & svg {
            height: 100%;
            width: 100%;
          }

          & img {
            height: 100%;
            width: 100%;
            transform: rotate(10deg);
          }
        }
      }
    }

    .request_fullscreen {
      @include buttonStyle;
      @include displayFlexCenter;
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 1;

      @media (max-width: 1000px) {
        display: none;
      }

      & svg {
        height: 80%;
        width: 80%;
        fill: rgb(0, 0, 0);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .toggleSound {
      @include buttonStyle;
      @include displayFlexCenter;
      background-color: transparent;
      border: unset;
      filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1));

      position: absolute;
      top: 10px;
      right: 50%;
      transform: translateX(50%);
      z-index: 10;

      .unmute_sound {
        display: none;
      }

      & svg {
        height: 80%;
        width: 80%;
        fill: rgb(0, 0, 0);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .control_description {
    @include displayFlexCenter;
    gap: 20px;
    width: 1280px;
    width: 100%;
    padding: 10px 20px;

    @media (max-width: 1000px) {
      display: none;
    }

    .description {
      @include displayFlexCenter;
      gap: 10px;
      color: black;
      font-weight: bold;
      font-size: 18px;
      filter: drop-shadow(2px 2px 2px rgba(241, 237, 237, 0.5));

      .control_button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include buttonStyle;
      }
    }
  }

  .legal-links {
    display: none;
    justify-content: center;
    gap: 25px;
    width: fit-content;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
    font-weight: bold;
    font-size: clamp(18px, 2vw, 30px);
    color: black;
    z-index: 10;

    position: absolute;
    bottom: 5px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      display: flex;
    }
  }
}
